*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{

}
/* en tete */
header{
    background-color:  #d35649;
    height: 10vh;

} 
header .flex1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* logo */
header .flex1 .logo{
    display: flex;
    justify-content: start;
    align-items: center;
    color: #fff;
}
/* logo */
.logo  a{
    font-size: 2em;
    color: #fff;
    text-decoration: none;
}
/* lien de navigation */
nav a:hover{
    color: #444;
}
 nav a{
    padding-right: 1em;
    text-decoration: none;
    color: #fff;
}
nav a i{
    padding-right: 1em;
}
/* corp */
/* formulaire */
.bloc-page{
    background-color: #fff;
    text-align: center;
    height: auto;
}
.bloc-form{
    margin-top: 2.3em;
    margin-bottom: 2.3em;
    height: auto;
    background-color: #eee;
}
.grid-1{
    padding: 2em;
    max-width: 1800px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,150px);
    gap: 22px;
    align-items: center;
}
/* image */
.bloc-image{
    padding: 2em;
    height: auto;
    text-align: center;
}
.bloc-image h2{
    padding: 2em;
}
.grid-2{
    max-width: 1800px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,400px);
    align-items: center;
}
.grid-2 .item img{
    background-color: #d35649;
    gap: 2px;
}
.bl{
    background-color: #509bd7;
    border: 1px solid #509bd7;
}
.col{
    background-color: rgba(255, 255, 0, 0.349);
    border: 1px solid rgba(255, 255, 0, 0.349) ;
}
/* pied de search */
footer{
    color: #fff;
}
.espace{
    background-color:  #1f1f1f;
    height: auto;
}
.footer-p1{
    height: 10vh;
    padding-top: 2em;
    align-items: center;
    display: flex;
    justify-content: center;
}
.footer-p1 .tirer{
    padding: 1em;
    border-top: 1px solid #fff;
    border-bottom:1px solid #fff;
}
.footer-p1 .rond{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vh;
    height: 10vh;
    border: 1px solid #fff;
    border-radius: 50%;
}
.footer-p1 .rond i{
    text-align: center;
}
.footer-p1 a{
    color: #fff;
    padding-left: 2em;
    text-decoration: none;
}
.footer-flex{
    height: 20vh;
    padding-bottom: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-flex input{
    text-align: center;
    border: 1px solid #444;
    background-color: #1f1f1f;

}
.footer-flex button{
    background-color: #444;
    color: #fff;
    border: 1px solid #444;
}
.email a:hover{
    text-decoration: underline;
}
.email a{
    color: #d35649;
    text-decoration: none;
}
.link-color p a:hover{
    color: #d35649;
    text-decoration: underline;
}
.link-color a{
    color: #d35649;
    text-decoration: none;
}
.footre-copy{
    height: 5vh;
    background-color: #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rs i:hover{
    color: #509bd7;
}
/* responsive de l'index */
@media only screen and (max-width: 600px) {
    /* en-tete */
    header{
        height: 15vh;
    }
    header .flex1 .logo {
        display: flex;
        justify-content: center;
        
    }
    /* logo */
    .logo h1{
        padding-left: 1em;
    }
    nav{
        padding-top: 1.2em;
    }    
    nav  .none{
        display: none;
    }
    header .flex1{
        display: flex;
        flex-direction: column;
    }
    /* pied */
    .footer-p1{
    display: none;
    }
    .footer-flex{
        display: none;
    }
    .footre-copy{
        display: flex;
        flex-direction: column;
    }
    .footre-copy{
        padding: 1em;
        height: 10vh;
    }
}